Repository sibiraj-s/eslint-config-pegasus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*{.js,.ts.tsx}': eslint --fix
'*{.md,.yml,.json}': prettier --write

Cleanup husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Add stylistic config
  .lintstagedrc.yml
  README.md
  eslint.config.js
  index.js
  package-lock.json
  package.json
  rules/style.js
  src/browser.js
  src/node.js
  src/pegasus.js
  src/react.js
  src/rules/best-practices.js
  src/rules/errors.js
  src/rules/es6.js
  src/rules/strict.js
  src/rules/style.js
  src/rules/variables.js
  src/stylistic.js
  src/typescript-recommended.js
  src/typescript-strict.js
  src/typescript.js
Due: eslint --fix, prettier --write

Update eslint-plugin to v1.9.1
  package-lock.json
  package.json
Due: prettier --write

Cleanup hooks
  .husky/pre-push
Due: none

Update README
  README.md
Due: prettier --write

Release eslint-config-pegasus v6.0.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix files included in package
  package.json
Due: prettier --write

Release eslint-config-pegasus v6.0.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Export missing utils
  src/pegasus.js
  src/utils/merge-configs.js
Due: eslint --fix

Release eslint-config-pegasus v6.0.0-beta.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Use official eslint react plugin
  package-lock.json
  package.json
  src/react.js
Due: eslint --fix, prettier --write

Fix react hooks plugin
  src/react.js
  src/stylistic.js
Due: eslint --fix

Fix repository field in package.json
  package.json
Due: prettier --write

Update nodejs to v22
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Release eslint-config-pegasus v6.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Export types
  index.d.ts
  package-lock.json
  package.json
Due: prettier --write

Release eslint-config-pegasus v6.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update ts file matchers and parser options
  src/typescript.js
Due: eslint --fix

Improve README
  README.md
Due: prettier --write

Release eslint-config-pegasus v6.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix workflow syntax
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Increase minimum node version requirement
  package-lock.json
  package.json
Due: prettier --write

Use npm staged publishing
  .github/workflows/publish.yml
Due: prettier --write
